<div class="sidebar_item">
    <!-- insert your sidebar items here -->
    <p>
        <font size="3" color="grey" face="Arial">Current Date: {{date}}</font>
    </p>
    <h2>Our Best Travel Locations:</h2>
    <ul>
        <li><a href="https://www.roadaffair.com/best-places-to-visit-in-ireland/"><font size="3">Ireland</font></a></li>
        <li><a href="https://traveltriangle.com/blog/new-zealand-tourist-attractions/"><font size="3">New Zealand</font></a></li>
        <li><a href="https://www.roadaffair.com/best-places-to-visit-in-mexico/"><font size="3">Mexico</font></a></li>
        <li><a href="https://www.geekyexplorer.com/reasons-visit-portugal/"><font size="3">Portugal</font></a></li>
    </ul>
</div>