<div class="content">
    <h1>Dance Schedule</h1>
    <table>
        <tr class="head">
            <th>Dance Type</th>
            <th>Dublin</th>
            <th>Prague</th>
            <th>Berlin</th>
        </tr>
        <tr>
            <th>Ceili dance</th>
            <td>Сб, 2022 June 1 <br />11:00 - 14:00</td>
            <td>Сб, 2022 June 15<br />11:00 - 14:00</td>
            <td>Сб, 2022 July 9<br />11:00 - 14:00</td>
        </tr>
        <tr class="even">
            <th>Soft Solo Dance</th>
            <td>Сб, 2022 July 23<br />11:00 - 13:00</td>
            <td>Сб, 2022 August 9<br />11:00 - 13:00</td>
            <td>Сб, 2022 August 31<br />11:00 - 13:00</td>
        </tr>
        <tr>
            <th>Hard Solo Dance</th>
            <td>Сб, 2022 September 14<br />11:00 - 14:00</td>
            <td>Сб, 2022 September 29<br />11:00 - 14:00</td>
            <td>Сб, 2022 October 14<br />11:00 - 14:00</td>
        </tr>
        <tr class="even">
            <th>Show Dance</th>
            <td>Сб, 2022 October 30<br />11:00 - 16:00</td>
            <td>Сб, 2022 November 15<br />11:00 - 16:00</td>
            <td>Сб, 2022 December 1<br />11:00 - 16:00</td>
        </tr>
    </table>
    <form action="" method="post">
        <fieldset>
            <legend><font size="2" color="black">REGISTRATION FORM</font></legend>
            <br>
            <p><label class="title" for="name">Name:</label>
                 <input type="text" name="name" id="name"><br />
                 <label class="title" for="email">Email:</label>
                 <input type="text" name="email" id="email"></p>
            <p><label for="location" class="title">The:</label>
                 <select name="location" id="location">
                     <option value="msk">Dublin</option>
                     <option value="spb">Prague</option>
                     <option value="ekb">Berlin</option>
                 </select></p>
            <span class="title">Are You a Member?</span>
            <label><input type="radio" name="member" value="yes" /> Yes</label>
            <label><input type="radio" name="member" value="no" /> No</label></p>
        </fieldset>
    <div style="padding-top: 11px" class="submit"><input type="submit" value="Confirm Registration" /></div>
    </form>
</div>
